 .login__wrapper {
  margin:0;
  padding:0;
  font-family: sans-serif;
  /* background: linear-gradient(#141e30, #243b55); */
  background-color: black;
  min-height: 100vh;
  display: flex;
  /*align-items: center;
  justify-content: flex-end; */
} 


.impression__container{
  width: 60%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/src/assets/undraw_tweetstorm.svg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

}

.login__box__wrapper{
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-box {
  width: 400px;
  padding: 40px;
  background: #141e30;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  height: fit-content;
  /* width: 30%; */
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:active ~ label{
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form .login__btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  /* text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px; */
  width: 150px;
  background-color: #03e9f4;
  border-radius: 30px;
  border: none;
}


.login-box form a{
  text-decoration: none;
  color: #03e9f4;
}

label{
  color: #ffff !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color: #ffff !important;
}


.css-1wc848c-MuiFormHelperText-root{
  color: #ffff !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: #ffff !important;
}
#eye__btn{
  padding: 0 !important;
}

#eye__btn__first{
  padding: 0 !important;
}

#eye__btn__second{
  padding: 0 !important;
}

/* .login__btnn:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}  */
/* 
.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
} */

/* @keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
} */
/* 
.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
} */
