.home__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
    border-bottom: 1px solid rgba(139, 139, 139, 0.4);
}


.search__bar__input{
    left: 0;
    width: 70%;
    height: 31px;
    left:0;
    padding: 2px 10px;
    color:#ffff;
    border: 0.1px solid #BEBEBE;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    font-size: 1.1rem;
    /* z-index: 2; */
}

input:focus {
    outline: none;
}

.tweet_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: black;
    padding: 30px 0px;
    border-bottom: 1px solid rgba(139, 139, 139, 0.4);
}

textarea{
    resize: none;
    font-size: 1.5rem;
    background-color: black;
    /* color: #ffff; */
    color:#ffff;
    border: none;
}

textarea:focus{
    outline: none;
    border-bottom: 1px solid rgba(139, 139, 139, 0.4);
}

.tweet__btn{
    border: none;
}

.tweet__submit{
    width: 40%;
    display: flex;
    justify-content:flex-end;
}



.tweets__container{
    /* background-color: beige; */
    color: black;
    width: 90%; 
    padding: 20px 0px;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}